html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: "brandon-grotesque", "Brandon Grotesque", "Century Gothic", sans-serif;
}

.div1 {
    padding: 0;
    height: 100vh;
    /* background-image: url("../img/bike.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; */
}

.row-title {
    text-align: center;
    padding: 30px;
}

.col-title {}

.carousel-item img {
    width: 300px;
    height: 420px;
}

.mySlides {
    display: none;
    width: 500px;
    height: 500px;
    margin: auto;
}

.row-home {}

.col-home {}

.d-block {
    width: 500px;
}

.elegir {
    overflow: hidden;
}

.login {
    font-weight: bold;
    width: 90px;
    float: left;
    text-align: center;
    margin-right: 5px;
}

.registro {
    font-weight: bold;
    width: 90px;
    float: left;
    text-align: center;
    margin-left: 5px;
}

.logo-row {
    padding: 10px;
    width: 100%;
    height: auto;
    margin: 0;
}

.nav-row {
    width: 100%;
    margin: 0;
    display: table;
    padding: 10px;
}

.nav-col {
    padding: 0;
    text-align: center;
}

.nav-col span {
    font-size: 11px;
}

.nav-col a {
    color: black;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
}

.reserva {
    color: black;
    font-weight: bold;
}

.logo-row img {
    width: 200px;
    display: block;
}

.logo-col {
    width: 100%;
    padding: 0;
}


/* STAY */

.div2 {
    margin: 0;
    width: 100%;
    padding: 100px 150px;
    height: auto;
    overflow: hidden;
}

.div2 img {
    width: 70%;
}

.div2 a {
    color: #4A8079;
}

.row-stay-titulo {
    width: 100%;
    text-align: center;
    margin: 0;
}

.col-stay-titulo {}

.row-stay {
    width: 100%;
}

.row-stay-e {
    max-width: 500px;
}

.row-stay-mf {}

.row-stay-h {
    max-width: 900px;
    margin: auto;
}

.col-stay {}

.col-stay-titulo {
    padding: 0px;
}

.col-stay-e {
    /* position: relative;
    top: 30px;
    left: 150px; */
}

.col-stay-e p {
    font-size: 15px;
}

.col-stay-m {
    /* position: relative;
    top: 10px; */
}

.col-stay-m p {
    font-size: 15px;
}

.col-stay-f {
    /* position: relative;
    top: 80px; */
    padding: 10px;
}

.col-stay-f p {
    font-size: 15px;
}

.col-stay-h {
    /* position: relative;
    top: -20px; */
}

.col-stay-h p {
    font-size: 15px;
}


/* SERVICIOS */

.div3 {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 70px 5px;
}

.serv-container {
    margin: auto;
    width: 100%;
}

.row-serv-titulo {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.row-serv {
    padding: 30px 0px;
}

.centrado a {
    color: black;
    text-align: center;
}

.centrado {
    color: #faecd3;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.col-serv:hover .overlay {
    height: 30%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4A8079;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.duo {
    height: 400px;
}

.trio {
    width: 100%;
    height: 200px;
}

.row-serv img {
    width: 100%;
    -webkit-filter: sepia(0);
    filter: sepia(0);
}

.row-serv img:hover {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.col-serv {
    width: 100%;
    padding: 0;
}


/* .col-serv:hover .detalles,
.centrado {
    display: inline;
} */

.row-serv-deta {
    width: 100%;
    margin: 0;
}

.col-serv-deta {
    text-align: center;
}

.row-serv-deta button {
    background-color: #4A8079 !important;
    width: 100px;
    color: #faecd3;
}


/* NOSOTROS */

.div4 {
    margin: 0;
    width: 100%;
    padding: 100px;
    height: auto;
}


/* HEADER */

.header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #faecd3;
    transition: all 1s;
    -moz-transition: all 1s;
    /* Firefox 4 */
    -webkit-transition: all 1s;
    /* Safari and Chrome */
    -o-transition: all 1s;
    /* Opera */
}

header img {
    transition: all 1s;
    -moz-transition: all 1s;
    /* Firefox 4 */
    -webkit-transition: all 1s;
    /* Safari and Chrome */
    -o-transition: all 1s;
    /* Opera */
}

header.small {
    height: auto;
    padding: 10px;
}

.fav {
    width: 30px;
    position: absolute;
    right: 0;
    top: -5px
}

.navbar-brand {
    height: auto;
}

.navbar {
    margin-bottom: 0;
    justify-content: normal;
}

.nav-item {
    display: inline;
}

.navbar a {
    color: black;
}


/* FAVICON */

.favicon {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.favicon img {
    width: 30px;
}


/* FOOTER */

footer {
    font-family: "brandon-grotesque", "Brandon Grotesque", "Century Gothic", sans-serif;
    border: 0 !important;
    clear: both;
    border-style: solid;
    border-width: 1px 0 0 0;
    background-color: #4A8079;
    padding: 30px;
    align-content: center;
    text-align: center;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    color: black;
    font-size: 18px;
    line-height: 2;
    text-transform: uppercase;
    word-spacing: 1px;
}

.foot-row {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.foot-col {
    color: #faecd3;
}

.foot-col i {
    font-size: 24px;
    color: #faecd3;
}

.foot-col img {
    width: 100px;
    margin: 10px 0;
}

.info {
    max-width: 500px;
}

.social {
    max-width: 300px;
    padding: 20px;
}

.copy p {
    font-size: 12px !important;
    margin: 0;
}

.info p {
    color: #faecd3;
    margin: 0;
}

.foot-col {}

.foot-col p {
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px 0;
}

.foot-col a {
    color: #faecd3;
    text-decoration: none;
}

.foot-col a:hover {
    color: #faecd3;
    text-decoration: none;
}

hr {
    max-width: 550px;
    border: .4px solid #4A8079;
}


/* MAP */

#map {
    width: 100%;
    height: auto;
}


/* ANIMACION */

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}