html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: "brandon-grotesque", "Brandon Grotesque", "Century Gothic", sans-serif;
}

.div1 {
    padding: 0;
    height: 100vh;
    background-image: url("../img/wooden-house-background.jpg");
    background-color: rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.col-home h1 {
    margin: 0;
    font-size: 150px;
    color: white;
    font-family: 'Amatic SC', cursive;
    border-top: solid 4px white;
    filter: brightness(1);
}

.col-home h2 {
    font-size: 50px;
    margin: 0;
    color: white;
    font-family: 'Amatic SC', cursive;
    border-bottom: solid 4px white;
}

.row-home {
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.row-home img {
    width: 500px;
}

.row-home h1 {
    margin: 0;
}

.row-title {
    text-align: center;
    padding: 30px;
}

.carousel-item img {
    width: 300px;
    height: 420px;
}

.mySlides {
    display: none;
    width: 500px;
    height: 500px;
    margin: auto;
}

.d-block {
    width: 500px;
}

.elegir {
    overflow: hidden;
}

.login {
    font-weight: bold;
    width: 90px;
    float: left;
    text-align: center;
    margin-right: 5px;
}

.registro {
    font-weight: bold;
    width: 90px;
    float: left;
    text-align: center;
    margin-left: 5px;
}

.nav-row {
    width: 100%;
    margin: 0;
    display: table;
}

.nav-row a {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
}

.nav-col-img {
    text-align: left;
}

.nav-col-otro {
    text-align: right;
    color: white;
}

.nav-col-otro a {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
}

.nav-col-menu {
    text-align: center;
}

.nav-col-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
}

.nav-col {
    padding: 0;
}

.nav-col span {
    font-size: 11px;
}

.nav-col a {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
}

.logo-row img {
    width: 200px;
    display: block;
}

.logo-col {
    width: 100%;
    padding: 0;
}


/* STAY */

.div2 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.reserva {
    max-width: 300px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.div2 a {
    color: #4A8079;
}

.row-stay-form {
    width: 100%;
    position: relative;
    top: 0;
    margin: 0;
}

.row-stay-form form {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.col-stay-form {
    width: 100%;
    padding: 60px;
    background-color: #10253d;
}

.col-stay-form select {
    width: 100px;
    height: 35px !important;
}

.col-stay-form input {
    width: 100px;
    height: 35px;
}

.col-stay-form button {
    width: 100px;
    height: 35px;
}

.row-stay-cita {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 100px 100px 50px;
}

.col-stay-cita {
    font-family: 'Permanent Marker', cursive;
}

.row-stay {
    width: 100%;
}

.row-stay-e {
    max-width: 500px;
}

.row-stay-mf {}

.row-stay-h {
    max-width: 900px;
    margin: auto;
}

.col-stay {}

.col-stay-titulo {
    padding: 0px;
}

.col-stay-e {
    /* position: relative;
    top: 30px;
    left: 150px; */
}

.col-stay-e p {
    font-size: 15px;
}

.col-stay-m {
    /* position: relative;
    top: 10px; */
}

.col-stay-m p {
    font-size: 15px;
}

.col-stay-f {
    /* position: relative;
    top: 80px; */
    padding: 10px;
}

.col-stay-f p {
    font-size: 15px;
}

.col-stay-h {
    /* position: relative;
    top: -20px; */
}

.col-stay-h p {
    font-size: 15px;
}


/* SERVICIOS */

.div3 {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 70px 5px;
}

.serv-container {
    margin: auto;
    width: 100%;
}

.row-serv-titulo {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.row-serv {
    max-width: 700px;
    margin: auto;
    border: solid 4px #4A8079;
}

.centrado a {
    color: black;
    text-align: center;
}

.row-serv-opciones {
    text-align: center;
}

.row-serv-opciones span {
    width: 30px;
    height: 30px;
    color: #4A8079;
}

.col-serv-opciones {
    padding: 40px;
}

.col-serv-opciones a {
    font-size: 25px;
    color: #4A8079;
    padding: 10px;
}

.col-serv-opciones a:hover {
    border-bottom: solid 1px #4A8079;
}

.centrado {
    color: #faecd3;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.col-serv:hover .overlay {
    height: 30%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4A8079;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.duo {
    height: 400px;
}

.trio {
    width: 100%;
    height: 200px;
}

.row-serv img {
    width: 100%;
    /* -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; */
}

.row-serv img:hover {
    /* -webkit-filter: sepia(0);
    filter: sepia(0); */
}

.col-serv {}

.col-serv-texto {
    background-color: #faecd3;
}

.col-serv-img {
    padding: 0;
    background-color: #ceb68e;
}

.col-serv-img p {
    margin: 0;
    padding: 20px;
}


/* .col-serv:hover .detalles,
.centrado {
    display: inline;
} */

.row-serv-deta {
    width: 100%;
    margin: 0;
}

.col-serv-deta {
    text-align: center;
}

.row-serv-deta button {
    background-color: #4A8079 !important;
    width: 100px;
    color: #faecd3;
}


/* NOSOTROS */

.div4 {
    margin: 0;
    width: 100%;
    padding: 0;
    height: auto;
}

.row-us {
    width: 100%;
    padding: 0;
    margin: 0;
}

.col-us {
    width: 100%;
    padding: 0;
    margin: 0;
}

.col-us h2 {
    position: absolute;
    padding: 100px;
    font-family: 'Permanent Marker', cursive;
    margin: 0;
}

.col-us img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 800px;
}


/* HEADER */

.header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    transition: all 1s;
    -moz-transition: all 1s;
    /* Firefox 4 */
    -webkit-transition: all 1s;
    /* Safari and Chrome */
    -o-transition: all 1s;
    /* Opera */
}

.navbar img {
    width: 30px;
}

header img {
    transition: all 1s;
    -moz-transition: all 1s;
    /* Firefox 4 */
    -webkit-transition: all 1s;
    /* Safari and Chrome */
    -o-transition: all 1s;
    /* Opera */
}

header.small {
    height: auto;
    padding: 5px;
}

.fav {
    width: 30px;
}

.navbar-brand {
    height: auto;
}

.navbar {
    margin-bottom: 0;
    justify-content: normal;
}

.nav-item {
    display: inline;
}

.navbar a {
    color: white;
}


/* FAVICON */

.favicon {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
}

.favicon img {
    width: 30px;
}


/* FOOTER */

footer {
    font-family: "brandon-grotesque", "Brandon Grotesque", "Century Gothic", sans-serif;
    border: 0 !important;
    clear: both;
    border-style: solid;
    border-width: 1px 0 0 0;
    background-color: black;
    padding: 30px;
    align-content: center;
    text-align: center;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    color: black;
    font-size: 18px;
    line-height: 2;
    text-transform: uppercase;
    word-spacing: 1px;
}

.foot-row {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.foot-col {
    color: #faecd3;
}

.foot-col i {
    font-size: 24px;
    color: #faecd3;
}

.foot-col img {
    width: 100px;
    margin: 10px 0;
}

.info {
    max-width: 500px;
}

.social {
    max-width: 300px;
    padding: 20px;
}

.copy p {
    font-size: 12px !important;
    margin: 0;
}

.info p {
    color: #faecd3;
    margin: 0;
}

.foot-col p {
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px 0;
}

.foot-col a {
    color: #faecd3;
    text-decoration: none;
}

.foot-col a:hover {
    color: #faecd3;
    text-decoration: none;
}

hr {
    max-width: 550px;
    border: .4px solid #4A8079;
}


/* MAP */

#map {
    width: 100%;
    height: auto;
}


/* ANIMACION */

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}