.row-menu {
    text-align: center;
    position: absolute;
    /*nos posicionamos en el centro del navegador*/
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
}

.row-book {
    text-align: center;
    margin: 0 !important;
}

.col-book {
    line-height: 100px;
}