.reserva {
    padding: 0;
    height: 100vh !important;
}

.row-reserva {
    max-width: 1200px;
    padding: 0;
    margin: auto;
    height: 100%;
}

.form {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.table {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}